
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div>
	<div style="text-align:center;"><img src="https://st.depositphotos.com/22302086/57457/v/600/depositphotos_574577040-stock-illustration-page-found-error-404-system.jpg"></div>
	<!-- <h1 style="text-align: center; font-size: 100px; margin-top: 200px;">
	PAGE 404</h1>  -->
	<p style="text-align: center;"><a href="/" style="text-decoration:none; color: #EA6060; font-size:50px;"><i class="ri-home-4-fill"></i></a></p>
</div>

