{%extends 'partials/base.html'%}
{% load static%}
{%block title%}About Us{%endblock%}
{% block content%}
    <!-- About page content starts here -->
    <div class="about-main">
        <div class="about-content">
            <div class="about-image">
                <img src="{% static 'images/ceo.jpg'%}" alt="">
                <p><strong>Chiamaka Genevive</strong></p>
            </div>
            <div class="about-body">
                <div class="about-body-head">
                    <h3 style="color: #000;">Urban Confectionary</h3>
                </div>
                <div class="about-body-text">
                    <p>Nothing beats the effect of our cake cream on your brain nerves. We got you being your best.
                        Urban Confectionary remains your one and only plug for cakes and pasteries of all kinds and types in Lagos and South East.
                        Let's meet on the other end of <span style="color: red;">SPF</span> (savour, pleasure and flavour).
                    </p>
                     <p>We value our customer that we strive to give the best. Our deliveries are as quick as the order has been made.
                        We never disappointed any of our customers and have endeevored to have everything in stock incase of order. Have a Taste today
                        and feel the love.
                    </p>
                    <p>
                        <strong>Chiamaka Genevive</strong> is the CEO of Urban Confectionary. She is professional baker and has passion for baking.
                        She is lovely, kind and love to empower others. She has organized various baking classes on instagram, and has been a guest speaker in various baking space programs online where she letured and teach people about baking.

                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- About age content ends here -->
{% endblock%}