{%extends 'partials/base.html'%}
{% load static%}
{% block link%}{%endblock%}
{%block title%}Home Page{%endblock%}
{% block content%}


       <div class="slider">
            <div class="welcome-note">
                <div class="welcome-heading"><h1 style="color:#EA6060">Urban Confectionary</h1></div>
                <div class="welcome-text">
                    <p>Nothing beats the effect of our cake cream on your brain nerves. We got you being your best.
                    Urban Confectionary remains your one and only plug for cakes and pasteries of all kinds and types in Lagos and South East.
                    Let's meet on the other end of <span style="color: red;">SPF</span> (savour, pleasure and flavour) .
                    Want in? Yes right Away!! use the button below and enjoy the savour that's more than savours.
                    </p>
                </div>
                <div class="order-button"><a href="{% url 'contact-us'%}">Order Now</a></div>
            </div>
            <div class="baker-img">
                <img src="{% static 'images/slider-img.png'%}" alt="baker image">
            </div>
        </div>
    </header>
    <div class="main">
      

        <div class="we-are-urban">
            <div class="urban-text">
                <div class="text-heading"><h2 style="color:#EA6060">  </i> Why us <i class="ri-question-mark"></i></h2></div>
                <div class="text-body">
                    <p style="font-size: 15px;">
                        We value our customer that we strive to give the best. Our deliveries are as quick as the order has been made.
                        We never disappointed any of our customers and have endeevored to have everything in stock incase of order. Have a Taste today
                        and feel the love.
                    </p>
                    <div class="read-more"><a href="{%url 'about-us'%}">Read More</a></div>
                </div>
            </div>
        </div>
        <!-- Our products -->
        <div class="our-products">
            <div class="our-product-heading"><h2 style="color:#EA6060">Our Products</h2></div>
            <div class="product-row">
                <div class="product-container">
                    <div class="product-img"><img src="{% static 'images/product1.jpg'%}" alt="9 cupcakes"></div>
                    <div class="product-title"><h4>Birthday Cake</h4></div>
                    <div class="product-price"><p>#12000</p></div>
                </div>
                <div class="product-container">
                    <div class="product2-img"><img src="{% static 'images/product1.jpg'%}" alt="9 cupcakes"></div>
                    <div class="product-title"><h4>Birthday Cake</h4></div>
                    <div class="product-price"><p>#12000</p></div>
                </div>
                <div class="product-container">
                    <div class="product-img"><img src="{% static 'images/product3.jpg'%}" alt=""></div>
                    <div class="product-title"><h4>Baby Shaower Cake</h4></div>
                    <div class="product-price"><p>#20000</p></div>
                </div>
                <div class="product-container">
                    <div class="product-img"><img src="{% static 'images/product4.jpg'%}" alt=""></div>
                    <div class="product-title"><h4>Box of 6 Cup Cake</h4></div>
                    <div class="product-price"><p>#3500</p></div>
                </div>
                <div class="product-container">
                    <div class="product-img"><img src="{% static 'images/product5.jpg'%}" alt=""></div>
                    <div class="product-title"><h4>Baby Shaower Cake</h4></div>
                    <div class="product-price"><p>#20000</p></div>
                </div>
                <div class="product-container">
                    <div class="product-img"><img src="{% static 'images/product6.jpg'%}" alt=""></div>
                    <div class="product-title"><h4>Baby Shaower Cake</h4></div>
                    <div class="product-price"><p>#20000</p></div>
                </div>
              
            </div>
        </div>
        <!-- contactform -->

    </div>
{%endblock%}