{%extends 'partials/base.html'%}
{% load static%}
{% block link%}{%endblock%}
{%block title%}Home Page{%endblock%}
{% block content%}


       <div class="slider">
            <div class="welcome-note">
                <div class="welcome-heading"><h1>Delicious Cakes</h1></div>
                <div class="welcome-text">
                    <p>Nothing beats the effect of our cake cream on your brain nerves. We got you being your best
                    Urban Confectionary remains your one and only plug for cakes and pasteries of all kinds and types in Lagos and South East.
                    Let's meet on the other end of <span style="color: red;">SPF</span> (savour, pleasure and flavour) .
                    Want in? Yes right Away!! use the button below and enjoy the savour that's more than savours.
                    </p>
                </div>
                <div class="order-button"><a href="">Order Now</a></div>
            </div>
            <div class="baker-img">
                <img src="{% static 'images/slider-img.png'%}" alt="baker image">
            </div>
        </div>
    </header>
    <div class="main">
        <div class="cake-sample">
            <div class="cake-row">
                <div class="cake">
                    <img src="{% static 'images/cake1.jpg'%}" alt="cake">
                    <h4>Birthday Cake</h4>
                </div>
                <div class="cake">
                    <img src="{% static 'images/cake2.jpg'%}" alt="cake">
                    <h4>Matriculation Cake</h4>
                </div>
                <div class="cake">
                    <img src="{% static 'images/cake3.jpg'%}" alt="cake">
                    <h4>Bridal Shawor Cake</h4>
                </div>
            </div>
        </div>

        <div class="we-are-urban">
            <div class="urban-text">
                <div class="text-heading"><h2>Urban Confectionary</h2></div>
                <div class="text-body">
                    <p style="color:#ffff">Nothing beats the effect of our cake cream on your brain nerves. We got you being your best
                        Urban Confectionary remains your one and only plug for cakes and pasteries of all kinds and types in Lagos and South East.
                        We value our customer that we strive to give the best. Our deliveries are as quick as the order has been made.
                        We never disappointed any of our customers and have endeevored to have everything in stock incase of order. Have a Tasste today
                        and feel the love.
                    </p>
                    <div class="read-more"><a href="">Read More</a></div>
                </div>
            </div>
            <div class="we-are-urban-image">
                <div class="image">
                    <img src="{% static 'images/cake4.jpg'%}" alt="cake">
                </div>
            </div>
        </div>
        <!-- Our products -->
        <div class="our-products">
            <div class="our-product-heading"><h2>Our Products</h2></div>
            <div class="product-row">
                <div class="product-container">
                    <div class="product-img"><img src="{% static 'images/product1.jpg'%}" alt="9 cupcakes"></div>
                    <div class="product-title"><h4>Birthday Cake</h4></div>
                    <div class="product-price"><p>#12000</p></div>
                </div>
                <div class="product-container">
                    <div class="product-img"><img src="{% static 'images/product2.jpg'%}" alt=""></div>
                    <div class="product-title"><h4>Two Tier Birthday Cake</h4></div>
                    <div class="product-price"><p>#35000</p></div>
                </div>
                <div class="product-container">
                    <div class="product-img"><img src="{% static 'images/product3.jpg'%}" alt=""></div>
                    <div class="product-title"><h4>Baby Shaower Cake</h4></div>
                    <div class="product-price"><p>#20000</p></div>
                </div>
                <div class="product-container">
                    <div class="product-img"><img src="{% static 'images/product4.jpg'%}" alt=""></div>
                    <div class="product-title"><h4>Box of 6 Cup Cake</h4></div>
                    <div class="product-price"><p>#3500</p></div>
                </div>
                <div class="product-container">
                    <div class="product-img"><img src="{% static 'images/product5.jpg'%}" alt=""></div>
                    <div class="product-title"><h4>Baby Shaower Cake</h4></div>
                    <div class="product-price"><p>#20000</p></div>
                </div>
                <div class="product-container">
                    <div class="product-img"><img src="{% static 'images/product6.jpg'%}" alt=""></div>
                    <div class="product-title"><h4>Two Tier Birthday Cake</h4></div>
                    <div class="product-price"><p>#22000</p></div>
                </div>
            </div>
        </div>
        <!-- contactform -->

        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col-25">
                        <label for="fname">First name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="fname">
                    </div>
                </div>
                <div class="row">
                        <div class="col-25">
                            <label for="lname">Last Name</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="lname" name="latname" placeholder="Your last name ..">
                        </div>
                </div>
                <div class="row">
                        <div class="col-25">
                            <label for="lname">Meassage</label>
                        </div>
                        <div class="col-75">
                            <textarea name="subject" id="subject" style="height:200px ;" placeholder="Write something"></textarea>
                        </div>
                </div>
                <div class="row">
                        <input type="submit" value="submit">
                </div>
            </form>
        </div>
    </div>
{%endblock%}